.popup__input-error {
  display: block;
  padding-top: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FF0000;
  opacity: 0;
  min-height: 18px;
  transition: opacity 0.3s linear;
}