.header {
  max-width: 880px;
  min-height: 73px;
  border-bottom: 1px solid #545454;
  margin:  0 auto 40px;
  padding: 45px 0 0;
}

@media screen and (max-width: 1023px)  {
  .header {
    width: 581px;
    height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 320px;
    margin-bottom: 31px;
    padding: 28px 0 0;
    min-height: 56px;
  }
}