.header {
  max-width: 880px;
  min-height: 73px;
  border-bottom: 1px solid rgba(84, 84, 84, .7) ;
  margin:  0 auto 40px;
  padding: 45px 0 0;
}

@media screen and (max-width: 1023px)  {
  .header {
    width: 581px;
    height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    mim-width: 320px;
    width: 100%;
    margin-bottom: 0;
    padding: 28px 0 0;
    min-height: 56px;
  }
}