.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  margin: 0 0 9px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin: 0;
  }
}

