.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1023px) {
  .profile__description {
    max-width: 400px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}