.profile__avatar {
  background-image: url("../../../images/profile-avatar.png");
  background-size: contain;
  width: 120px;
  height: 120px;
  margin: 0;
  border-radius: 50%;
  align-self: center;
}

@media screen and (max-width: 767px)  {
  .profile__avatar {
   margin-bottom: 26px;
  }
}