@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__card/profile__card.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__info/profile__info.css);

@import url(../blocks/grid-elements/grid-elements.css);

@import url(../blocks/item/item.css);
@import url(../blocks/item/__title/item__title.css);
@import url(../blocks/item/__image/item__image.css);
@import url(../blocks/item/__like/item__like.css);
@import url(../blocks/item/__bottom-block/item__bottom-block.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_type/popup_type_edit-profile.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__input/popup__input.css);

